<!DOCTYPE html>
<html>
    <head>
        <title>Segmentation Test</title>
    </head>
    <body>
        <h1>Semantic Segmentation Demo</h1>

        <div align="center">
            <h1>File Input</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div>
                    <label>File Input</label>
                    <input type="file" name="inputFile">
                </div>
                <br/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>