<!DOCTYPE html>
<html>
    <head>
        <title>Segmentation Test</title>
    </head>
    <body>
        <h1 align="center">Semantic Segmentation Demo</h1>

        <div align="center">
            <h3>Select an image to run inference</h3>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div>
                    <input type="file" name="inputFile">
                </div>
                <br/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>